UPSTASH_REDIS_REST_URL="https://summary-lizard-215913.upstash.io"
UPSTASH_REDIS_REST_TOKEN="gQAAAAAAA0tpAAIgcDFhN2RmZDAyMzQ1MTk0ZTQ0YTQ3ZGMxNDQzODczNzNjMw"

# Database
DATABASE_URL="postgresql://username:password@ep-xxxxx.region.aws.neon.tech/neondb?sslmode=require"

# NextAuth
NEXTAUTH_SECRET="your-secret-here-run-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
